/* Container for table and canvas. */
center-container {
    width: 608px;
    margin: 0 auto;
    margin-top: 50px;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    cursor: pointer;
    border: 4px solid rgba(252, 169, 3, 0.8);
    padding: 0px;
    width: 200px;
    height: 200px;
}

canvas {
    position: absolute;
    z-index: 10;
    pointer-events: none;
}